Package: com.phillipt.paranoia
Name: Paranoia
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hold on passcode buttons to unlock your device
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
Version: 0.0.1-22
Installed-Size: 72
